/* Style for the content container */
#workshopDetails {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 calc(50% - 40px);
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}

#workshopDetails h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin: 0px auto;
}

#workshopDetails p {
    display: block;
    margin-bottom: 1em; /* Optional: Adds space between paragraphs */   
}

#workshopDetails p, li {
    font-family: 'Arial', sans-serif; /* Change font */
    color: #666;
}

/* Ensure all div elements inside #workshopDetails are on separate rows */
#workshopDetails > div {
    display: block;
    width: 100%;
}

ol > li {
    margin-top: 10px;
}

ul > li {
    margin-top: 5px;
}

.workshopQuote {
    font-family: 'Morning Dew', cursive;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.fa-check {
    color: green
}

.fa-users, .fa-clock, .fa-file-alt {
    color: blue;
}